<div class="d-flex align-items-center mb-4">
	<img src="{{ asset(product.shop.logoUrl) }}" alt="{{ product.shop.name }}" class="rounded-circle me-3" style="width:48px; height:48px;" />
	<p class="mb-0">{{ product.shop.name }}</p>
</div>